* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 2, 5rem;
}

html {
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #2a5b66 !important;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.block {
  border-radius: 7px;
  position: relative;
  padding: 25px 15px;
  background-color: #fff;
  margin: 50px 0;
  /* height: 200px; */
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.block h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.block.historyBlock h1 {
  display: inline-block;
}

.block.historyBlock>label {
  float: right;
}

.block.historyBlock tspan {
  font-size: 8px;
}

.block.block.historyBlock .recharts-wrapper {
  font-size: 11px;
}

.block p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.block table {
  width: 100%;
}

.block td {
  padding-top: 3px;
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 1.1em;
  margin: 0 10px 5px 0;
  line-height: 26px;
  border-radius: 4px;
  padding: 2px 4px 2px 4px;
}

.btn-green {
  background-color: #009784;
  color: white;
  border-width: medium;
  min-width: 50px;
}

.block .divButtonWrapper {
  display: inline-block;
}

.block .amount {
  display: inline-block;
  max-width: 150px;
  float: right;
}

.main-content-wrapper {
  max-width: 750px;
}